@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&family=Martian+Mono:wght@300&display=swap');

/* body {
    width: 100%;
    height: 100%;
    background-image:url("../images/new_home_bg.png");
    background-size: cover;
} */